html, *::before, *::after{
    box-sizing: border-box;
}


body{
    background-color: rgba(0, 0, 0, 0);
}
.page-header{
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px dotted gray;
}

.days{
    display: flex;
    justify-content: center;
}

.challenge-list{
    font-size: 1.3rem;
}

.challenge-list li{
    padding: 8px 25px;
    border: 1px dotted gray;
    margin: 1rem;
}

.challenge-list li a{
    text-decoration: none;
}