* {
    box-sizing: border-box;
}


.go-home {
    padding: 1rem;
    cursor: pointer;
    color: white;

    border: 1px solid black;
    width: 100px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.4);

    transition: all 0.7s;
}

a{
    text-decoration: none;
    color: white;
}


.link-to-home{
    display: block;
    margin-top: 2rem;
}
.go-home:hover {

    border-color: yellow;
}

body {
    background-image: url("drum.webp");
    background-size: cover;

}

.key {
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid black;
    height: 75px;
    max-width: 75px;
    flex-basis: 5%;

    text-align: center;

    transition: all .09s;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);

    cursor: pointer;
}

.playing {
    transform: scale(1.2);
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-flow: row wrap;
    height: 100vh;
    row-gap: 1rem;
}

span.key-desc {
    font-size: .8rem;
    color: yellow;
}